.git2/
.git3/
logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
!.autod.conf.js
*.js
!dependency/**/*.js
app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.mapq
test/**/*.map
config/**/*.map
typings/app
typings/config
.env
schema.gql
app/typeorm/account/migration/*
app/typeorm/k12/migration/*
app/typeorm/account/ormconfig.ts
app/typeorm/k12/ormconfig.ts
typing/typeorm.d.ts
yarn-error.log
