.git2/
.git3/
logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.ts
example/
!.autod.conf.js
!dependency/**/*.js
test/**/*.ts
app/**/*.mapq
test/**/*.map
config/**/*.map
typings/app
typings/config
yarn-error.log
